* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;   
}

:root {
    --bg-dark: #1a1b1c; /* Cor padrão de fundo */
    --bg-dark-med: #45494d; /* Cor padrão de sombras */
    --primary:#76786c; /* Cor primária */
    --primary-inv: #30370d; /* Cor primária hover */
    --text-main: #fff; /* cor para textos principais/gerais */
    --text-title: ###fefdfd: /* cor para títulos */
    --main-title: 4rem; /* tamanho para títulos principais */ 
    --sub-title: 3rem; /* tamanho para títulos principais */
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem
}