.cabecalho {
    background-color: var(--bg-dark);
    color: var(--text-main);
    width: 100%;
    height: auto;
    padding: 2rem;
}
.cabecalho__navbar, .cabecalho__lista {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.cabecalho__item {
    font-size: 1.5rem;
}
.cabecalho__link {
    padding: 0.5rem 1rem;
}
.cabecalho__link--active {
    background-color: var(--bg-dark-med);
}
@media (min-width: 320px) {
    .cabecalho {
        background: rgba(27, 5, 48, 1);
    background-image: linear-gradient(180deg,rgba(155, 28, 28, 1) 0%, rgba(27, 5, 48, 1) 80%);
    padding: 2rem;
}
    .cabecalho__item {
        margin: 0 0.2rem;
    }
}

@media (min-width: 768px) {
    .cabecalho__item {
        margin: 0 3rem;
        font-size: 2.5rem;
    }
}