
#cabecalho{
    background-color: #1a1a1c;
    padding: 1%;
    color: #fff;
    width: 95%;
    height: 120px;
    margin: 0 auto;
}

#cabecalho h1{
    font-size: 40px;
    text-align: center;
    margin: 0;
}

#cabecalho nav ul{
    list-style: none;
    background-color: #2c2c45;
    padding: 0;
}

#cabecalho nav ul li{
    display: inline-block;
    margin: 0 10px;
}

#cabecalho nav ul li a{
    color: #fff;
    text-decoration: none;
}

